/* css styles */

.research-item {
    background: white;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 1.8rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}

.research-intro {
    background-color: #f8f9fa;
    color: #212529;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 1.8rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}

.teach-sp p {
    margin-bottom: 0.2rem;
}